/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.main {
    margin: 0px;
}

.footer .line {
    height: 1em;
}
.footer a {
    color: black;
}
.footer .link {
    font-size: x-small;
    margin: 0px 10px;
}

.box {
    box-shadow: 3px 3px 5px;
}

.full {
    width: 90%;
    min-width: 600px;
    margin: auto;
}

ui-button,
button.ui-button.ui-state-default,
ui-button.ui-state-default{
    background: #167abc;
}
button.ui-button.ui-state-hover,
ui-button.ui-state-hover,
button.ui-button.ui-state-focus,
ui-button.ui-state-focus{
    background: #0b3d5e;
}
button.ui-button.ui-state-active,
ui-button.ui-state-active{
    background: #0b3d5e;
}

.floatButton.ui-button,
.floatButton button.ui-button.ui-state-default,
.floatButton.ui-button.ui-state-default{
    box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
}

.backButton.ui-button,
.backButton button.ui-button.ui-state-default,
.backButton.ui-button.ui-state-default{
    box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    border:grey;
    background:silver;
}
.backButton button.ui-button.ui-state-hover,
.backButton.ui-button.ui-state-hover,
.backButton button.ui-button.ui-state-focus,
.backButton.ui-button.ui-state-focus{
    border:dimgrey;
    background:darkgrey;
}
.backButton button.ui-button.ui-state-active,
.backButton.ui-button.ui-state-active{
    border:dimgrey;
    background:darkgrey;
}

.execButton.ui-button,
.execButton button.ui-button.ui-state-default,
.execButton.ui-button.ui-state-default{
    box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    border:sandybrown;
    background:orange
}
.execButton button.ui-button.ui-state-hover,
.execButton.ui-button.ui-state-hover,
.execButton button.ui-button.ui-state-focus,
.execButton.ui-button.ui-state-focus{
    border:peru;
    background:darkorange
}
.execButton button.ui-button.ui-state-active,
.execButton.ui-button.ui-state-active{
    border:peru;
    background:darkorange
}

.forceButton.ui-button,
.forceButton button.ui-button.ui-state-default,
.forceButton.ui-button.ui-state-default{
    box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    border:deeppink;
    background:hotpink
}
.forceButton button.ui-button.ui-state-hover,
.forceButton.ui-button.ui-state-hover,
.forceButton button.ui-button.ui-state-focus,
.forceButton.ui-button.ui-state-focus{
    border:mediumvioletred;
    background:palevioletred
}
.forceButton button.ui-button.ui-state-active,
.forceButton.ui-button.ui-state-active{
    border:mediumvioletred;
    background:palevioletred
}

.helpButton.ui-button,
.helpButton button.ui-button.ui-state-default,
.helpButton.ui-button.ui-state-default{
    border:grey;
    background:silver;
}
.helpButton button.ui-button.ui-state-hover,
.helpButton.ui-button.ui-state-hover,
.helpButton button.ui-button.ui-state-focus,
.helpButton.ui-button.ui-state-focus{
    border:dimgrey;
    background:darkgrey;
}
.helpButton button.ui-button.ui-state-active,
.helpButton.ui-button.ui-state-active{
    border:dimgrey;
    background:darkgrey;
}
.helpButton button.ui-button .ui-icon.iconQuestion,
.helpButton.ui-button .ui-icon.iconQuestion {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url("#{resource['images/common/icon_question.png']}");
}
.helpButton button.ui-button .ui-icon.iconFAQ,
.helpButton.ui-button .ui-icon.iconFAQ {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url("#{resource['images/common/icon_faq.png']}");
}

.ui-fileupload-simple .ui-button {
    vertical-align: middle;
}

.buttonLarge .ui-icon {
    width: 32px;
    height: 32px;
}

.location {
    min-height: 2em;
}

.content {
    background-color: #e6dcd2;
    padding: 1em 0px;
}

.content .disabledRow {
    color: darkgray;
    background-color: grey;
}

.content .disabledRowRed {
    background-color: lightpink;
}

.content .nortice{
    padding: 3px;
    background-color: white;
}
.content .nortice .ui-datascroller-content{
    background-color: white;
    border: none;
}

.content .ui-state-error,
.content .ui-state-error .ui-selectonemenu-label,
.content .ui-state-error .ui-inputfield {
    background-color: pink;
}

/* for Webkit */
.content ::-webkit-input-placeholder{
    color: rgba(0,0,0,0.5);
    /*font-size: 0.9em;*/
}
/* for Firefox */
.content ::-moz-placeholder{
    color: rgba(0,0,0,0.5);
    /*font-size: 0.9em;*/
}
/* for Firefox 18以前 */
.content :-moz-placeholder{
    color: rgba(0,0,0,0.5);
    /*font-size: 0.9em;*/
}
/* for Windows IE */
.content :-ms-input-placeholder{
    color: rgba(0,0,0,0.3);
    /*font-size: 0.9em;*/
}

.ui-fileupload-content{
    min-height: 50px;
    /*background-color: red;*/
}

.fileformDropArea {
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    border: 2px solid orange;
    position: absolute;
    z-index: 100;
    background-color:rgba(168,168,255,0.8);
}
.fileformDropAreaNote {
    pointer-events: none;
    vertical-align: middle;
    position: absolute;
    margin-left: 170px;
    margin-top: 10px;
    z-index: 80;
}
.fileRemainText {
    pointer-events: none;
    float:right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 90;
}

.mailBodyBtn {
    width:22px;
    height: 22px;
    float: right;
    vertical-align: top;
}

.textOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

div.inlineLeft {
    display: inline-block;
    float: left;
}

div.inlineRight {
    display: inline-block;
    float: right;
}

/* dataTableのヘッダ除去 */
.simpleTable thead {
    display: none
}
/* dataTableのグリッド線消去 */
.simpleTable thead th,
.simpleTable tbody,
.simpleTable tbody tr,
.simpleTable tbody td {
    border-style: none;
    /*background: none;*/
}

tr.ui-datatable-selectable td img,
tr.ui-datatable-selectable td div,
tr.ui-datatable-selectable td span
{
    pointer-events: none;
}

/* ↓中央寄せ ttp://scuderia-web.com/tips/xhtml_css/div_vertical_align.php*/
div.outer {
    display: table;         /* ① */
    height: 100%;
    width: 100%;            /* ② */
}
* html div.outer {
    position: relative; /* ③ */
}
*+html div.outer {
    position: relative; /* ③ */
}
div.vertical_middle {
    display: table-cell;    /* ④ */
    vertical-align: middle; /* ⑤ */
}
* html div.vertical_middle {
    position: absolute; /* ⑥ */
    top: 50%;           /* ⑥ */
}
*+html div.vertical_middle {
    position: absolute; /* ⑥ */
    top: 50%;           /* ⑥ */
}
div.vertical_middle p.inner {
    margin: 0;
}
* html div.vertical_middle p.inner {
    position: relative; /* ⑦ */
    top: -50%;          /* ⑦ */
}
*+html div.vertical_middle p.inner {
    position: relative; /* ⑦ */
    top: -50%;          /* ⑦ */
}

div.vertical_middle .decryptNote {
    background-color: white;
}

div.vertical_middle .ui-treetable tbody > tr.ui-widget-content {
    background-color: white;
}
/* ↑中央寄せ */

.history-header{
    width: 90px;
    table-layout: fixed;
    text-align: center;
}
.history-content{
    white-space: pre-line;
    word-break: break-all;
}

/** その他画面ダイアログ **/
.extension .header {
}
.extension .title {
    font-size: 1.2em;
    font-weight: bold;
    white-space: pre;

    padding: 3px 5px;
    background-color: #f0f0f0;
}
.extension .caption {
    font-weight: bold;
    white-space: pre;

    padding: 2px 10px;
    background-color: #f4f4f4;
}
.extension .article {
    white-space: pre;

    padding: 1px 20px;
    background-color: #fbfbfb;
}

/*モーダルダイアログの背景を透明にする*/
.progressDlg{
    opacity: 0;
}

.ui-button-icon-only.middleButton .ui-icon.fa,
.ui-button-text-icon-left.middleButton .ui-icon.fa,
.ui-button-text-icon-right.middleButton .ui-icon.fa {
    margin-top: -9px;
}

.ui-button-icon-only.bigButton .ui-icon.fa,
.ui-button-text-icon-left.bigButton .ui-icon.fa,
.ui-button-text-icon-right.bigButton .ui-icon.fa {
    margin-top: -15px;
}

button.ui-button.fss-margin-top {
    margin-top: 15px;
}

button.ui-button.fss-margin-top.middleButton {
    margin-top: 8px;
}

button.ui-button.fss-margin-top.bigButton {
    margin-top: 0px;
}

.middleButton.ui-button {
    height: 45px;
    font-size: 1.25em;
}

.middleButton .ui-icon {
    width: 24px;
    height: 24px;
    margin-top: -9px;
}

.bigButton.ui-button {
    height: 60px;
    font-size: 1.5em;
}

.bigButton .ui-icon {
    width: 32px;
    height: 32px;
    margin-top: -15px;
}

.dataListNoBorder .ui-datalist-content{
    border-width: 0px;
}

.fssCalendarNonBorder .ui-inputfield {
    border-width: 0px;
}

.fssConfirmDialog .ui-icon {
    background-image: none;
}
.fssConfirmDialog .ui-dialog-content {
    display: none;
}
.fssConfirmDialog .ui-dialog-buttonpane {
    border-top-width: 0px;
}

.ui-calendar .ui-icon-calendar {
    background-size: 480px;
    background-position: -67px -218px;
}

.simple.ui-fileupload .ui-fileupload-buttonbar {
    padding: 0px;
    float: left;
    border: none;
    background: none;
}
.simple.ui-fileupload .ui-fileupload-content {
    display: none;
}
